<!--
     Copyright 2022 Descrypt

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->


<html>
    <head>
        <title>Quiz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
         :root {
             font-size: 2ch;
         }
         {{ stylesheet }}
        </style>
    </head>
    <body>

        <div class="frontpage">

            <h1><a href="/">Quiz</a></h1>
            <p>
                <i>
                Reading from {{ questions_dir }}:
                loaded <b>{{ source_files_count }}</b> source file(s)
                containing <b>{{ questions_count }}</b> question(s).
                </i>
            </p>

            {% if questions_count > 0 %}
            <p><button type="button", id="wide" onclick="location.href='questions/1';">Begin</button></p>
            {%endif%}

            <form method="post" action="/" name="questions">
                {% for dir in all_files%}
                <h2>{{ dir }}</h2>
                {% for filename in all_files[dir]%}
                <p>
                    <input type="checkbox" id="{{ dir }}/{{ filename }}" name="questions" value="{{ questions_dir }}/{{ dir }}/{{ filename }}">
                    <label for="{{ dir }}/{{ filename }}">{{ filename }}</label>
                </p>
                {%endfor%}
                {%endfor%}
                <button type="submit", id="wide">Load question(s) from source file(s)</button>
            </form>

        </div>

        <script>
         var cont = document.getElementById("zoomContainer");
         function changeSizeByBtn(size) {
             // Set value of the parameter as fontSize
             cont.style.fontSize = size;
         }
         function refreshPage(){
             window.location.reload();
         }
        </script>

    </body>
</html>
