<!--
     Copyright 2022 Descrypt

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->


<html>
    <head>
        <title>Question {{ question_number }}/{{ question_count }}</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        <style>
         :root {
             font-size: 4ch;
         }
         {{ stylesheet }}
        </style>
    </head>
    <body>

        <div id="topMenu">
            <p>
                <a href="/"><span class="material-icons">
                    home
                </span></a>
                {% if question_number > 1 %}
                <a href="1"><span class="material-icons">
                    first_page
                </span></a>
                <a href="{{ question_number - 1}}"><span class="material-icons">
                    navigate_before
                </span></a>
                {%endif%}
                {% if question_number < question_count %}
                <a href="{{ question_number + 1}}"><span class="material-icons">
                    navigate_next
                </span></a>
                <a href="{{ question_count }}"><span class="material-icons">
                    last_page
                </span></a>
                {%endif%}
                Question {{ question_number }}
                <br>
                <button type="button"
                        onclick="refreshPage()" name="btnreset">
                    Reset
                </button>
                {% for i in range(8)%}
                <button type="button"
                        onclick="changeSizeByBtn({{12 * (i+1) }})" name="btn{{ i }}">
                    {{ 12 * (i+1) }}
                </button>
                {%endfor%}
                <br>
            </p>
        </div>

        <div id="zoomContainer" class="zoomContainer">

            {%for line in question %}
            <p>{{ line }}</p>
            {%endfor%}

            <button id="wide" onclick="revealAnswer()">Answer</button>
            <div id="answerArea">
                <p>
                    {{ answer }}
                </p>
            </div>

            {% if not background[0] == '' %}
            <br>
            <button id="wide" onclick="revealBackground()">Background</button>
            <div id="backgroundArea">
                <p>
                    {%for line in background %}
                    <p>{{ line }}</p>
                    {%endfor%}
                </p>
            </div>
            {%endif%}

        </div>

        <script>
         function revealAnswer() {
             var x = document.getElementById("answerArea");
             if (x.style.display === "none") {
                 x.style.display = "block";
             } else if (x.style.display === "block") {
                 x.style.display = "none";
             } else {
                 x.style.display = "block";
             }
         }
         function revealBackground() {
             var x = document.getElementById("backgroundArea");
             if (x.style.display === "none") {
                 x.style.display = "block";
             } else if (x.style.display === "block") {
                 x.style.display = "none";
             } else {
                 x.style.display = "block";
             }
         }
         var cont = document.getElementById("zoomContainer");
         function changeSizeByBtn(size) {
             // Set value of the parameter as fontSize
             cont.style.fontSize = size;
         }
         function refreshPage(){
             window.location.reload();
         }
        </script>

    </body>
</html>
